:root {
    --keyboard_background: rgb(220, 220, 220);
    --keyboard_shadow: rgba(0, 0, 0, 0.5);
    --key_color: rgb(43, 43, 43);
    --active_key: rgb(140, 140, 140);
    --key_shadow: rgba(0, 0, 0, 0.2);
    --white-dark_color: #ffffff;
    --border: #6e6e6e;
    --textarea_background: #f8f8f8;
}

body.dark_theme {
    --keyboard_background: rgb(0, 0, 0);
    --keyboard_shadow: rgba(196, 196, 196, 0.2);
    --key_color: rgb(255, 255, 255);
    --active_key: rgb(140, 140, 140);
    --key_shadow: rgba(255, 255, 255, 0.4);
    --white-dark_color: #202124 !important;
    --border: #ccc;
    --textarea_background: #9f9e9e;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--white-dark_color);
}

.centered {
    text-align: center
}

h1 {
    text-align: center;
    color: var(--key_color);
}

textarea {
    min-width: 300px;
    width: 60%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid var(--border);
    border-radius: 4px;
    background-color: var(--keyboard_background);
    color: var(--key_color);
    transition: .3s ease-in-out;
}

textarea:active,
textarea:focus {
    outline-style: none !important;
    color: var(--key_color);
}

.change_theme {
    display: flex;
    position: relative;
    top: 10px;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

.theme_icon {
    cursor: pointer;
    transition: .3s;
    color: var(--key_color);
    transition: .5s ease-in-out;
}